body {
    width: 960px;
    height: 1000px;
}
h2 {
    
    margin: 100px;
    height: 200px;
    width: 400px;
    background-color: deeppink;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
}
#instructionsBox {
    margin: 100px;
    height: 100px;
    width: 1000px;
    background-color: plum;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    
}
